<h1>Clients</h1>

<%= link_to 'New Client', new_client_path, class: 'btn btn-primary mb-3' %>

<div class="table-responsive">
  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact Number</th>
        <th>Project Details</th>
        <th>Price</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= client.name %></td>
          <td><%= client.email %></td>
          <td><%= client.phone_number %></td>
          <td><%= client.description %></td>
          <td><%= client.price %></td>
          <td><%= link_to 'Show', client, class: 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_client_path(client), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

