<h1>Client Details</h1>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @client.price %>
</p>

<%= link_to 'Edit this client', edit_client_path(@client) %> |
<%= link_to 'Back to clients', clients_path %> |
<%= button_to "Destroy this client", @client, method: :delete %>
